<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=500">
<link href="../../resources/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../../resources/css/fonts/fontawesome-all.min.css" rel="stylesheet">
<link href="../../resources/css/modern-business.css" rel="stylesheet">
<link href="../../resources/css/sb-admin.min.css" rel="stylesheet">
<link href="../../resources/js/datatables/dataTables.bootstrap4.css"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Graduate"
	rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Partner Reports</title>
</head>
<body>
	<div th:include="thymeleaf/association-layout :: sport-header"></div>
	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h3>Fundings from: <span th:text="${player.name}"></span></h3>
					<h5>Funds Generated: $<span th:text="${df2.format(total)}"></span></h5>
					<h5>Administration Fees: $-<span th:text="${df2.format(total.multiply(0.20))}"></span></h5>
					<h4>To Be Distributed: $<span th:text="${df2.format(total.subtract(total.multiply(0.20)))}"></span></h4>
					<p>From: <span th:text="${#lists.size(userAssociation)}"></span> Member(s)</p>
				</div>
					<div class="col-lg-12">
					<div class="card mb-3">
						<div class="card-header">
							<i class="fa fa-table"></i> Users funding
							<div class="btn-group float-right" role="group" aria-label="Basic example">
							  <a th:href="@{./player/pdf(player_id=${player.player_id})}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">PDF</a>
							  <a th:href="@{./player/excel(player_id=${player.player_id})}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">XLS</a>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered table-striped" id="dataTable"
									width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Member</th>
											<th>Team</th>
											<th>Player</th>
											<th>Funding Percent</th>
											<th>Generated Funds</th>
											<th>Admin Fees(20%)</th>
											<th>To Be Distributed</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Member</th>
											<th>Team</th>
											<th>Player</th>
											<th>Funding Percent</th>
											<th>Generated Funds</th>
											<th>Admin Fees(20%)</th>
											<th>To Be Distributed</th>
										</tr>
									</tfoot>
									<tbody>
										<tr th:each="user,item : ${userAssociation}">
												<!-- <%-- <td id="username_${item.index}" class="userName" data-id="${user.user_profile_id}"></td>
												<td id="teamname_${item.index}" class="teamName" data-id="${user.team_id}"></td>
												<td id="playername_${item.index}" class="playerName" data-id="${user.player_id}"></td> --%> -->
												<td><span th:text="${user.user_first_name}+' '+${user.user_last_name}"></span></td>
												<td><span th:text="${user.team_name}"></span></td>
												<td><span th:text="${user.player_name}"></span></td>
												<td>%<span th:text="${user.donation_amount.multiply(100)}"></span></td>
												<td>$<span th:text="${df2.format(user.userAssociationInfo.total_amount)}"></span></td>
												<td>$-<span th:text="${df2.format(user.userAssociationInfo.total_amount.multiply(0.20))}"></span></td>
												<td>$<span th:text="${df2.format(user.userAssociationInfo.total_amount.subtract(user.userAssociationInfo.total_amount.multiply(0.20)))}"></span></td>
											</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-footer small text-muted">Updated yesterday
							at 11:59 PM</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../../resources/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
<script src="../../resources/vendor/popper/popper.min.js"></script>
<script src="../../resources/js/datatables/jquery.dataTables.js"></script>
<script src="../../resources/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../../resources/js/datatables/dataTables.bootstrap4.js"></script>
<script src="../../resources/js/sb-admin.js"></script>
<!-- <script src="../resources/js/sb-admin-datatables.min.js"></script> -->
<script src="../../resources/js/jquery.cascadingdropdown.min.js"></script>
<script src="../../resources/js/reports.js"></script>
<script src="../../resources/js/team_reports.js"></script>
</html>