<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">
<!-- Bootstrap core CSS -->
<meta name="viewport" content="width=500">
<link href="../resources/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../resources/css/modern-business.css" rel="stylesheet">

<link href="../resources/css/fonts/fontawesome-all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Graduate"
	rel="stylesheet">

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Benefits to Organizations</title>
</head>
<body>
	<div th:switch="${user_login}"> 
		<div th:case="true"><div th:include="thymeleaf/user-layout :: header"></div></div>
		<div th:case="false"><div th:include="thymeleaf/layout :: header"></div></div>
	</div>
	<!-- container -->
	<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 mt-5">
			<img src="https://thumbs.dreamstime.com/z/charity-donations-fundraising-nonprofit-volunteer-concept-77965178.jpg" class="w-100">
		</div>
		<div class="col-lg-6">
			<h1 class="mt-4 mb-3">Benefits to Community Partners</h1>
      	<p class="about-font"><strong>The amateur sport associations</strong> will receive funding to support their activities, teams, and individual athletes within their associations. In essence, they will have a group of corporate sponsors that they can depend upon for funding on an ongoing basis - without the hassle of knocking on doors for sponsorship.</p>
      	<p class="about-font"><strong>The non-profit and charity organizations</strong> will receive funding to support the charitable work they do within our communities. Organizations such as the Lions Clubs, MADD, Boys and Girls Clubs, local fire departments, schools, churches and many others do tremendous work in our province. <strong>Communiy Game Changer</strong> will help them increase their financial position and be able to continue to provide vital services back to the residents of Prince Edward Island.</p>
	</div>
	<div class="col-lg-3 mt-5">
		<h2 class="text-center">Benefits</h2>
		<ul class="bullet">
			<li class="text-lg-left mt-5"><h4>Ongoing funding</h4></li>
			<li class="text-lg-left mt-5"><h4>Better financial position</h4></li>
			<li class="text-lg-left mt-5"><h4>Less stress on volunteers</h4></li>
			<li class="text-lg-left mt-5"><h4>Promote within membership</h4></li>
			<li class="text-lg-left mt-5"><h4>Less fundraising</h4></li>
			<li class="text-lg-left mt-5"><h4>Enable family with financial limitations to participate</h4></li>
		</ul>
	</div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-center">
		<a href="../community/register" class="btn btn-lg btn-primary"><strong>Join the movement, register today!</strong></a>
		</div>
	</div>
      <!-- Page Heading/Breadcrumbs -->
    </div>
	<!-- /.container -->
	<!-- <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6 footerleft ">
				<div class="logofooter cl-txt-secondary">Logo</div>
				<p>Community Game Changer, CGC, has a mandate to improve local
					communities through cooperation, collaboration, and communication.</p>
				<p>
					<i class="fa fa-map-pin cl-txt-secondary"></i>94 Watts ave,
					Charlottetown PEI - Canada
				</p>
				<p>
					<i class="fa fa-phone cl-txt-secondary"></i> Phone (Canada) : +1
					902 123 1234
				</p>
				<p>
					<i class="fa fa-envelope cl-txt-secondary"></i> E-mail :
					info@cgc.com
				</p>

			</div>
			<div class="col-md-3 col-sm-6 paddingtop-bottom">
				<h6 class="heading7 cl-txt-secondary">GENERAL LINKS</h6>
				<ul class="footer-ul">
					<li><a href="../how-it-works"> How it works</a></li>
					<li><a href="../benefits/family"> Benefits for Members</a></li>
					<li><a href="../benefits/businesses"> Benefits for Merchants</a></li>
					<li><a href="../contact"> Contact</a></li>
					<li><a href="../communites/sport"> Sport Community</a></li>
					<li><a href="../communites/charity"> Charity Community</a></li>
					<li><a href="../communites/nonprof"> Non-Profit Community</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-6 paddingtop-bottom">
				<hr>
				<div class="text-center center-block">
					<p class="txt-railway">Social Media</p>
					<br /> <a href="https://www.facebook.com/bootsnipp"><i
						id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> <a
						href="https://twitter.com/bootsnipp"><i id="social-tw"
						class="fa fa-twitter-square fa-3x social"></i></a> <a
						href="https://plus.google.com/+Bootsnipp-page"><i
						id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
					<a href="mailto:bootsnipp@gmail.com"><i id="social-em"
						class="fa fa-envelope-square fa-3x social"></i></a>
				</div>
				<hr>
			</div>
		</div>
	</div>
	</footer> -->
	<!--footer start from here-->
	<div th:include="thymeleaf/layout :: footer"></div>
</body>
<script src="../resources/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
<script src="../resources/vendor/popper/popper.min.js"></script>
<script src="../resources/vendor/bootstrap/js/bootstrap.min.js"></script>
</html>