<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">
<!-- Bootstrap core CSS -->
<meta name="viewport" content="width=500">
<link href="resources/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
	
	<link href="resources/css/fonts/fontawesome-all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Graduate"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="resources/css/modern-business.css" rel="stylesheet">

<title>How it Works</title>
</head>
<body>
<!-- Navigation -->
	<div th:include="thymeleaf/layout :: header"></div>
	<!-- container -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 mt-5">
			</div>
			<div class="col-lg-6 mt-5">
				<h1 class="mt-4 mb-3 text-center">How it works</h1>
				<ul>
					<li class="mt-4">Fill in name and other registration information on CGC website (data from this information is necessary so that we can bring on other Merchant partners)</li>
					<li class="mt-4">The next step will take you to the participating community groups that you are able to support. This is broken into three main groups. Sports, Charities and non-profits</li>
					<li class="mt-4">Pick up to a total of up to 10 different community partners that you want to support at 10% each of your rebate dollars. The option is also there to give your rebate dollars to just a couple of the community groups, It’s entirely up to you. ( An example would be 30% to your church, 50% to your daughter’s ringette team and 20% to MADD) The opportunity to change your funding in future to other community partners exists as well. Just go back to the site and make the change whenever you want  * ( Community Game Changer receives 20% of all money collected as administration fee)</li>
					<li class="mt-4">The fund total for each community group that you select will be available to be seen on an ongoing basis on our site</li>
					<li class="mt-4">Every aspect of Community Game Changer will be very transparent, so that every partner ( Merchant, Community Partner , Family Partner) will have access to all of their information and data. It is very important to us that everyone involved have a comfort level</li>
					<li class="mt-4">Checks and or etransfers will be sent out to our Community partners on a quarterly basis. They will also receive a breakdown of the individual accounts the money should go into. The payments will be sent within 45 days of the quarterly end date. This will give CGC time to invoice the merchants and receive the funds owed to our partners</li>
					<li class="mt-4">CGC will have a local accounting firm complete a thorough yearly audit to examine our books and make sure that everything that is owed, has been paid to our Community Partners</li>
				</ul>
			</div>
			<div class="col-lg-3 mt-5">
				
			</div>
			</div>
	    </div>
	    <div class="text-center">
					<a href="./register/select" class="btn btn-lg btn-primary"><strong>Join the movement, register today!</strong></a>
				</div>
	<!-- /.container -->
	<!--footer start from here-->
	<div th:include="thymeleaf/layout :: footer"></div>
</body>
<script src="resources/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
<script src="resources/vendor/popper/popper.min.js"></script>
<script src="resources/vendor/bootstrap/js/bootstrap.min.js"></script>
</html>