<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=500">
<!-- Bootstrap core CSS -->
<link href="resources/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">

<link href="resources/css/fonts/fontawesome-all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Graduate"
	rel="stylesheet">
	
	<!-- Custom styles for this template -->
<link href="resources/css/modern-business.css" rel="stylesheet">
<link href="resources/css/slick-theme.css" rel="stylesheet">
<link href="resources/css/slick.css" rel="stylesheet">

<title>Community Game Changer</title>
</head>
<body>
	<div th:include="thymeleaf/layout :: header"></div>
	<!-- Navigation -->
	<div class="wrapper">
		<div class="container-fluid">
			<div class="autoplay box-shadow">
				<div class="jumbotron my-4 text-center card-img-bg" style="background: linear-gradient(rgba(255,255,255,.8), rgba(0,0,0,.5)), url('http://healthycommunities.ucr.edu/images/familyplayingsoccer.jpg');">
					<!-- <div class="row vertical-cetner">
						<img class="img-fluid logo-banner" src="resources/ads/images/testLogo.png" width="100%" height="50%">
					</div> -->
					<h3 class="display-4 titel text-white text-shadow">Welcome</h3>
					<a th:href="@{/how-it-works}" class="btn btn-warning btn-lg">How it works</a>
					<a th:href="@{/user/register}" class="btn btn-success btn-lg">Join Now!</a>
					<a th:href="@{/login}" class="btn btn-primary btn-lg">Login</a>
					<p class="lead titel text-white text-shadow">To Community Game Changer!</p>
				</div>
			</div>
		<div class="row">
			<div class="col-lg-3 mb-3">
				<div class="card h-100 box-shadow">
					<h4 class="card-header">What we were thinking...</h4>
					<div id="first-card" class="card-body card-img-bg">
						<p class="card-text"><strong>Community Game Changer</strong>, CGC, has a mandate to improve local communities through cooperation, collaboration and communication....</p>
						</div>
					<div class="card-footer">
						<a th:href="@{/what_we_were_thinking}" class="btn btn-primary">Learn More</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-3">
				<div class="card h-100 box-shadow">
					<h4 class="card-header">Benefits to Families</h4>
					<div id="second-card" class="card-body card-img-bg">
						<p class="card-text">Individuals, families, sport teams, local associations and others can sign up for <strong>Community Game Changer</strong> It's easy and it's profitable - for you and your community...</p>
					</div>
					<div class="card-footer">
						<a th:href="@{/benefits/family}" class="btn btn-primary">Learn More</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-3">
				<div class="card h-100 box-shadow">
					<h4 class="card-header">Benefits to Merchants</h4>
					<div id="third-card" class="card-body card-img-bg">
						<p class="card-text"><strong>The merchants</strong> will have a built in buying group that has an emotional attachment to the athletes, charities and non-profit's that are going to benefit from the financial contributions made by the merchants...</p>
					</div>
					<div class="card-footer">
						<a th:href="@{/benefits/businesses}" class="btn btn-primary">Learn More</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 mb-3">
				<div class="card h-100 box-shadow">
					<h4 class="card-header">Benefits to Community</h4>
					<div id="fourth-card" class="card-body card-img-bg">
						<p class="card-text"><strong>Community Game Changer</strong> is designed to help business organizations, local sports associations, communities, and individuals improve their collective bottom line by purchasing goods and services from each other - to their mutual benefit...</p>
					</div>
					<div class="card-footer">
						<a th:href="@{/benefits/community}" class="btn btn-primary">Learn More</a>
					</div>
				</div>
			</div>
		</div>
		
		<h1 class="my-4 text-center titel">Our Merchant Partners</h1>
		<div class="row col-centered">
			<div class="col-3 col-sm-4 col-md-4 col-lg-2 mb-4">
				<img class="img-fluid"
					src="http://peipma.ca/wp-content/uploads/2017/01/4175_1_kenmac_energy.gif"
					alt="" width="100" height="500">
			</div>
			<div class="col-3 col-sm-4 col-md-4 col-lg-2 mb-4">
				<img class="img-fluid"
					src="http://logos-vector.com/images/logo/lar/4/7/1/47126/Petro_Canada_6a7c4_250x250.png"
					alt="" width="100" height="500">
			</div>
			<!-- <div class="col-3 col-sm-4 col-md-4 col-lg-2 mb-4">
				<img class="img-fluid"
					src="http://thebig5050sj.com/wa_images/esso%20go%20logo.png"
					alt="" width="200" height="500">
			</div>
			<div class="col-3 col-sm-4 col-md-4 col-lg-2 mb-4">
				<img class="img-fluid"
					src="https://goforshows.ca/wp-content/uploads/2018/01/Wilsons-Gas-Stops-logo-2013.png"
					alt="" width="100" height="500">
			</div> -->
			<!-- <div class="col-3 col-sm-4 col-md-4 col-lg-2 mb-4">
				<img class="img-fluid"
					src="http://thebig5050sj.com/Go_21_20Store_20Vector_20Logo_Final.png?v=1p7u6kke6ntwa5"
					alt="" width="100" height="500">
			</div> -->
			<!-- <div class="col-3 col-sm-4 col-md-4 col-lg-2 mb-4">
				<img class="img-fluid"
					src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Irving_Oil.svg/1200px-Irving_Oil.svg.png"
					alt="" width="100" height="500">
			</div> -->
			<div class="col-3 col-sm-4 col-md-4 col-lg-2 mb-4">
				<img class="img-fluid"
					src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Dominos_pizza_logo.svg/220px-Dominos_pizza_logo.svg.png"
					alt="" width="100" height="500">
			</div>
			<div class="col-3 col-sm-4 col-md-3 col-lg-2 mb-4">
				<img class="img-fluid"
					src="http://www.naylornetwork.com/lbm-NWL/assets/home_hardware.horiz.jpg"
					alt="" width="100" height="500">
			</div>
			<div class="col-3 col-sm-4 col-md-4 col-lg-2 mb-4">
				<img class="img-fluid"
					src="http://peterboroughhumanesociety.ca/wp-content/uploads/2015/06/Leons-660x381.jpg"
					alt="" width="100" height="500">
			</div>
			<div class="col-3 col-sm-4 col-md-4 col-lg-2 mb-4">
				<img class="img-fluid"
					src="http://www.easternbaseballacademy.com/assets/chuckies.jpg"
					alt="" width="100" height="500">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<a th:href="@{/merchants}" class="btn btn-primary btn-lg col-centered">See More about our Merchant Partners!</a>
			</div>
		</div>
	</div>
	</div>
	<div th:include="thymeleaf/layout :: footer"></div>
</body>
<!-- Bootstrap core JavaScript -->
<script src="resources/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
<script src="resources/vendor/popper/popper.min.js"></script>
<script src="resources/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="resources/js/slick.js"></script>
<script src="resources/js/modern-business.js"></script>

</html>
