<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=500">
<link href="resources/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="resources/css/modern-business.css" rel="stylesheet">
<link href="resources/css/loading.css" rel="stylesheet">

<link href="resources/css/fonts/fontawesome-all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Graduate"
	rel="stylesheet">

<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<title>Login</title>
</head>
<body style="background-color: #3298ff">
	<!-- Navigation -->
	<div id="loading-background">
		<div id="loader"></div>
	</div>
	<div th:include="thymeleaf/layout :: header"></div>
	<div id="content" class="container">
		<div class="row" id="pwd-container">
			<div class="col-md-6 col-sm-12 col-centered">
				<section class="login-form">
				<form class="form-signin form-horizontal" role="login" id="loginForm"
				modelAttribute="login" action="./loginProcess" method="post">

					<div class="text-center">
						<p class="navbar-brand login-title cl-txt-primary">COMMUNITY
							GAME CHANGER</p>
					</div>
					<div th:if="${message != null}" class="alert alert-danger" role="alert" th:text="${message}"></div>
					<div th:if="${infomessage != null}" class="alert alert-info" role="alert" th:text="${infomessage}"></div>
					<label path="username" class="sr-only">Username</label>
						<input autocorrect="off" autocapitalize="off" path="username" name="username" id="username" class="form-control" placeholder="Username" required="true" autofocus="true" />
						<label path="password" class="sr-only">Password:</label>
						<input type="password" path="password" name="password" id="password" class="form-control" placeholder="Password" required="true" />
					<button id="login" type="submit" name="go"
						class="btn btn-lg btn-primary btn-block">Sign in</button>
					<div>
						<a href="register/select">Create account</a> or <a th:href="@{/reset}">reset password</a>
					</div>

				</form>

				<!-- <div class="form-links">
          <a href="#">www.website.com</a>
        </div> --> </section>
			</div>
		</div>
	</div>
	<!-- <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6 footerleft ">
				<div class="logofooter cl-txt-secondary">Logo</div>
				<p>Community Game Changer, CGC, has a mandate to improve local
					communities through cooperation, collaboration, and communication.</p>
				<p>
					<i class="fa fa-map-pin cl-txt-secondary"></i>94 Watts ave,
					Charlottetown PEI - Canada
				</p>
				<p>
					<i class="fa fa-phone cl-txt-secondary"></i> Phone (Canada) : +1
					902 123 1234
				</p>
				<p>
					<i class="fa fa-envelope cl-txt-secondary"></i> E-mail :
					info@cgc.com
				</p>

			</div>
			<div class="col-md-3 col-sm-6 paddingtop-bottom">
				<h6 class="heading7 cl-txt-secondary">GENERAL LINKS</h6>
				<ul class="footer-ul">
					<li><a href="../how-it-works"> How it works</a></li>
					<li><a href="../benefits/family"> Benefits for Families</a></li>
					<li><a href="../benefits/businesses"> Benefits for Companies</a></li>
					<li><a href="../contact"> Contact</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-6 paddingtop-bottom">
				<hr>
				<div class="text-center center-block">
					<p class="txt-railway">Social Media</p>
					<br /> <a href="https://www.facebook.com/bootsnipp"><i
						id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> <a
						href="https://twitter.com/bootsnipp"><i id="social-tw"
						class="fa fa-twitter-square fa-3x social"></i></a> <a
						href="https://plus.google.com/+Bootsnipp-page"><i
						id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
					<a href="mailto:bootsnipp@gmail.com"><i id="social-em"
						class="fa fa-envelope-square fa-3x social"></i></a>
				</div>
				<hr>
			</div>
		</div>
	</div>
	</footer>
	footer start from here
	<div class="copyright">
		<div class="container">
			<div class="col-md-6">
				<p>© 2017 - All Rights with Community Game Changer</p>
			</div>
		</div>
	</div> -->
	
</body>
<script src="resources/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
<script src="resources/vendor/popper/popper.min.js"></script>
<script src="resources/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="resources/js/login.js"></script>
</html>