<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="author" content="">

<link href="resources/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
	<meta name="viewport" content="width=500">

<link href="resources/css/fonts/fontawesome-all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Graduate"
	rel="stylesheet">
	
	<!-- Custom styles for this template -->
<link href="resources/css/modern-business.css" rel="stylesheet">
<link href="resources/css/slick-theme.css" rel="stylesheet">
<link href="resources/css/slick.css" rel="stylesheet">


<title>Privacy Policy</title>
</head>
	<body>
		<div th:include="thymeleaf/layout :: header"></div>
		 <div class="wrapper">
			<div class="container-fluid mt-5">
				<div class="row">
					<div class="col-lg-3">
						<div class="sidebar">
				        <h3>Legend</h3>
				        <ul class="list-group">
				          <li class="list-group-item"><a th:href='@{#integrity}'>Integrity</a></li>
				          <li class="list-group-item"><a th:href='@{#datawhy}'>What data we collect and why</a></li>
				          <li class="list-group-item"><a th:href='@{#personalInformation}'>Who sees your personal information</a></li>
				          <li class="list-group-item"><a th:href='@{#secureInfo}'>How we keep your information secure</a></li>
				          <li class="list-group-item"><a th:href='@{#privacy}'>Your privacy with communitygamechanger.ca</a></li>
				          <li class="list-group-item"><a th:href='@{#referring}'>Referring friends</a></li>
				          <li class="list-group-item"><a th:href='@{#affiliated}'>Your privacy with our affiliated stores and advertisers</a></li>
				          <li class="list-group-item"><a th:href='@{#social}'>Social media widgets</a></li>
				          <li class="list-group-item"><a th:href='@{#contacts}'>Import Contacts</a></li>
				          <li class="list-group-item"><a th:href='@{#contest}'>Contest entry</a></li>
				          <li class="list-group-item"><a th:href='@{#email}'>Our policies on email</a></li>
				          <li class="list-group-item"><a th:href='@{#cookies}'>Cookies and how are they used</a></li>
				          <li class="list-group-item"><a th:href='@{#passive}'>Passive Collection</a></li>
				          <li class="list-group-item"><a th:href='@{#responsibilities}'>Your choices and responsibilities</a></li>
				          <li class="list-group-item"><a th:href='@{#retention}'>Data Retention</a></li>
				          <li class="list-group-item"><a th:href='@{#resolution}'>Dispute Resolution</a></li>
				        </ul>
				      </div>
					</div>
					<div class="col-lg-9 mycontent-left">
					<div class="row">
						<div class="col-lg-6">
							<h3>Community Game Changer Privacy Policy</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 mt-5">
							<h5>About this Privacy Policy</h5>
							<p>This Privacy & Security Policy applies to www.communitygamechanger.ca and to the collection, use or sharing of any personal information collected by Community Game Changer Canada, Inc. ("CGC") in the course of conducting its business in Canada. This Privacy Policy also describes your choices regarding the use, access and correction of your personal information. By providing us with information, you ("Family Member") are consenting to our Privacy & Security Policy that will be updated from time to time. The effective date of this Privacy & Security Policy is: January 22, 2018.</p>
							<p>To earn and maintain your trust we have designed our Privacy & Security Policy to meet or exceed the requirements of the Personal Information Protection and Electronic Documents Act ("PIPEDA") and Canada’s Anti-Spam Law ("CASL"). In addition, we are constantly looking for new and better ways to secure your personal information and to ensure that it is used in a responsible and respectful manner.</p>
							<p>If we change our Privacy & Security Policy, we will post a change notice to this webpage and other appropriate places. We reserve the right to modify this Privacy & Security Policy at any time, so please review it regularly. If we make changes to this Privacy & Security Policy, we will notify you, by email, or by means of a notice on our home page.</p>
							<!-- Maybe add something here -->
						</div>
						<div id="integrity" class="col-lg-12 mt-5">
							<h5>Integrity</h5>
							<p>At communitygamechanger.ca, we know that your word is who you are and integrity is the cornerstone of any enterprise whether public, private or personal. As such, you have our word that we will protect your privacy and safeguard your information at all times.</p>
						</div>
						<div id="datawhy" class="col-lg-12 mt-5">
							<h5>What data we collect and why</h5>
							<p>TODO: TEXT FOR HERE</p>
						</div>
						<div id="personalInformation" class="col-lg-12 mt-5">
							<h5>Who sees your personal information</h5>
							<p>TODO: TEXT FOR HERE</p>
						</div>
						<div id="secureInfo" class="col-lg-12 mt-5">
							<h5>How we keep your information secure</h5>
							<p>TODO: TEXT FOR HERE</p>
						</div>
						<div id="privacy" class="col-lg-12 mt-5">
							<h5>Your privacy with communitygamechanger.ca</h5>
							<p>TODO: TEXT FOR HERE</p>
						</div>
						<div id="referring" class="col-lg-12 mt-5">
							<h5>Referring friends</h5>
							<p>TODO: TEXT FOR HERE</p>
						</div>
						<div id="affiliated" class="col-lg-12 mt-5">
							<h5>Your privacy with our affiliated stores and advertisers</h5>
							<p>TODO: TEXT FOR HERE</p>
						</div>
						<div id="social" class="col-lg-12 mt-5">
							<h5>Social media widgets</h5>
							<p>TODO: TEXT FOR HERE</p>
						</div>
						<div id="contacts" class="col-lg-12 mt-5">
							<h5>Import Contacts</h5>
							<p>TODO: TEXT FOR HERE</p>
						</div>
						<div id="contest" class="col-lg-12 mt-5">
							<h5>Contest entry</h5>
							<p>TODO: TEXT FOR HERE</p>
						</div>
						<div id="email" class="col-lg-12 mt-5">
							<h5>Our policies on email</h5>
							<p>TODO: TEXT FOR HERE</p>
						</div>
						<div id="cookies" class="col-lg-12 mt-5">
							<h5>Cookies and how are they used</h5>
							<p>TODO: TEXT FOR HERE</p>
						</div>
						<div id="passive" class="col-lg-12 mt-5">
							<h5>Passive Collection</h5>
							<p>As is true of most websites, we gather certain information automatically. This information may include Internet Protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, the files viewed on our site (e.g., HTML pages, graphics, etc.), and/or clickstream data to analyze trends in the aggregate and administer the site</p>
						</div>
						<div id="responsibilities" class="col-lg-12 mt-5">
							<h5>Your choices and responsibilities</h5>
							<p>TODO: TEXT FOR HERE</p>
						</div>
						<div id="retention" class="col-lg-12 mt-5">
							<h5>Data Retention</h5>
							<p>TODO: TEXT FOR HERE</p>
						</div>
						<div id="resolution" class="col-lg-12 mt-5">
							<h5>Dispute Resolution</h5>
							<p>TODO: TEXT FOR HERE</p>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="resources/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
<script src="resources/vendor/popper/popper.min.js"></script>
<script src="resources/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="resources/js/slick.js"></script>
<script src="resources/js/modern-business.js"></script>
	<script src="resources/js/scrollingPage.js"></script>
</html>