<!-- 
Author Kyle Newcombe
Date April 16 2018

Transaction Page

This page will allow business to make transactions with a user.

The page will use business preference to set the values needed for the transactions to apply

-->

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=500">
<link href="../resources/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../resources/css/select2.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet">
<link href="../resources/css/modern-business.css" rel="stylesheet">
<link href="../resources/css/sb-admin.min.css" rel="stylesheet">
<link href="../resources/css/transaction.css" rel="stylesheet">


<link href="../resources/css/fonts/fontawesome-all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Graduate"
	rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Transactions</title>
</head>
<body>
	<div th:include="thymeleaf/business-layout :: header"></div>
	<div class="content-wrapper">
		<div class="container">
			<form class="form-signin" id="regForm" th:object="${transaction}" action="complete" method="post">
				<div class="container">
					<div class="row text-center">
						<div class="col-lg-12">
							<h4>Enter transaction information</h4>
						</div>
					</div>
					<!-- Error Messages -->
					<div th:if="${message != null}" class="alert alert-danger col-lg-12" role="alert">${message}</div>
					<!-- <form:errors path="user_profile_id" cssClass="text-danger" /> -->
					<div id="user_id_success" class="alert alert-success">
					  <strong>Success!</strong> User has been found.
					</div>
					<div id="user_id_error" class="alert alert-danger">
					  <strong>Error!</strong> User was not found with card.
					</div>
					<div id="card_error" class="alert alert-danger">
					  <strong>Error!</strong> Wrong card. Please try again.
					</div>
					<div id="connection_error" class="alert alert-danger">
					  <strong>Error!</strong> Unable to connect to server, please check the connection.
					</div>
					<div id="no_user_error" class="alert alert-danger my-2">
					  <strong>Error!</strong> No User has been selected.
					</div>
					<!-- /Error Messages -->
					<!-- Member card id input -->
					<div class="input-group">
						<span class="input-group-addon" id="sizing-addon1">Member Card</span>
						<label class="sr-only">1234567</label>
						<input id="card_input" class="form-control"/>
						<div class="input-group-btn">
							<a id="search_user_select" class="btn btn-lg btn-primary btn-block" href="#">Search</a>
						</div>
						<input class="form-control" required="required"
							th:path="user_profile_id" name="user_profile_id"
							id="user_profile_id" type="hidden"/>
					</div>
					<!-- /Member card id input -->
					<!-- Transactions error message -->
					<div id="purcahse_error" class="alert alert-danger my-2">
					  <strong>Error!</strong> No values have been added.
					</div>
					<!-- /Transactions error message -->
					<!-- Transaction Table -->
					<div class="row">
						<div class="col-lg-12">
							<div class="table-responsive">
						<table class="table">
							<tr id="title">
								<th>Type</th>
								<th>Amount</th>
								<th>Method of payment</th>
							</tr>
							<!-- Looping through all transactions sent from server to create inputs -->
							<tr th:each="transactionDetail,item : ${transaction.transactionDetail}" th:id="${transaction.transactionDetail[item.index].transaction_type}">
									<td th:text="${transaction.transactionDetail[item.index].name}"></td>
									<td>
											<div th:if="${transaction.transactionDetail[item.index].name == 'Gasoline & Fuel'}" class="input-group row">
												<span class="input-group-addon" id="sizing-addon1">L</span>
												<label class="sr-only"></label>
												<input class="form-control purchase_input" required="required" type="number" step="0.01" onfocus="this.value=''"
															th:field="*{transactionDetail[__${item.index}__].amount}" th:attr="data-type=${transaction.transactionDetail[item.index].transaction_type}"
															name="transactionDetailamount"
															th:id="'transactionDetail_amount_'+${transaction.transactionDetail[item.index].transaction_type}" />
											</div>
											<!-- Specific to gas need a better method to do this-->
											<div th:if="${transaction.transactionDetail[item.index].name != 'Gasoline & Fuel'}" class="input-group row">
												<span class="input-group-addon" id="sizing-addon1">$</span>
												<label class="sr-only"></label>
													<input class="form-control purchase_input dollar_amount" required="required" type="number" step="0.01" onfocus="this.value=''"
														th:field="*{transactionDetail[__${item.index}__].amount}" th:attr="data-type=${transaction.transactionDetail[__${item.index}__].transaction_type}"
														name="transactionDetailamount"
														th:id="'transactionDetail_amount_'+${transaction.transactionDetail[__${item.index}__].transaction_type}" />
											</div>
											<!-- NOTE: When getting the transaction, I need to set these values before sending it to the Business-->
											<input type="hidden" th:field="*{transactionDetail[__${item.index}__].transaction_type}" />
											<input type="hidden" th:field="*{transactionDetail[__${item.index}__].name}" />
									</td>
									<td>
										<!-- Method of payment -->
										<span th:id="'error_radio_'+${transaction.transactionDetail[__${item.index}__].transaction_type}" name="error_radio" class="text-danger col-sm-12 text-nowrap text-small">No method selected</span>
										<div class="btn-group container" data-toggle="buttons"
											th:id="'transactionDetail_method_of_payment_'+${transaction.transactionDetail[__${item.index}__].transaction_type}">
											<label class="btn btn-primary"><input type="radio" class="form-control" th:field="*{transactionDetail[__${item.index}__].method_of_payment}"
													th:name="'transactionDetail_method_of_payment_'+${transaction.transactionDetail[item.index].transaction_type}" value="DE" />Debit</label>
											<label class="btn btn-primary">
											<input type="radio"
													class="form-control"
													th:field="*{transactionDetail[__${item.index}__].method_of_payment}"
													th:name="'transactionDetail_method_of_payment_'+${transaction.transactionDetail[item.index].transaction_type}" value="CR" />Credit
											</label> <label class="btn btn-primary"><input type="radio"
													class="form-control"
													th:field="*{transactionDetail[__${item.index}__].method_of_payment}"
													th:name="'transactionDetail_method_of_payment_'+${transaction.transactionDetail[__${item.index}__].transaction_type}" value="CA" />
												Cash </label>
										</div></td>
								</tr>
						</table>
					</div>
						</div>
					</div>
					<!-- /Transaction Table -->
				</div>
				<div class="row">
					<div class="col-lg-offset-5 col-lg-12 text-center">
						<div class="btn-group">
							<button id="register" name="register"
								class="btn btn-lg btn-primary btn-block">Submit</button>
						</div>
					</div>
				</div>
			</form>
			<!-- Search popover -->
			<div id="searchModal" class="modal">
							<div class="modal-content">
								<div class="modal-header">
									<span class="close">&times;</span>
									<h2>Search</h2>
								</div>
								<div class="modal-body">
									<div id="association_charity_row"
										class="row association-test my-3">
										<div class="col-sm-12">
											<h5 class="login-title">Search for user.</h5>
											<hr>
										</div>
										<div class="row col-centered">
											<div class="col-lg-12 my-3">
											<label for="test">
	  											Click this to highlight the multiple select element
	  											<select id="test" class="js-data-example-ajax" style="width: 100%"></select>
											</label>
										</div>
										</div>
										<div class="col-sm-12">
											<div class="row col-centered">
												<div id="selectUserButton" class="col-sm-3 col-centered text-center">
													<button id="select_user"
														class="btn btn-success btn-lg select_button">Select</button>
												</div>
												<div class="col-sm-3 col-centered text-center">
													<button id="Cancel"
														class="btn btn-danger btn-lg cancel_button">Cancel</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
		    <!-- /Search popover -->
		</div>
	</div>
</body>
<script src="../resources/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
<script src="../resources/vendor/popper/popper.min.js"></script>
<script src="../resources/js/datatables/jquery.dataTables.js"></script>
<script src="../resources/vendor/bootstrap/js/bootstrap.js"></script>
<script src="../resources/js/datatables/dataTables.bootstrap4.js"></script>
<script src="../resources/js/CardReader/prototype.js"></script>
<script src="../resources/js/CardReader/credit_card_reader.js"></script>
<script src="../resources/js/CardReader/inflections.js"></script>
<!-- <script src="../resources/js/require.js"></script> -->
<script src="../resources/js/select2.min.js"></script>
<script src="../resources/js/jquery.scannerdetection.js"></script>
<script src="../resources/js/transaction.js"></script>
<script src="../resources/js/sb-admin.js"></script>

</html>