<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link href="../resources/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../resources/css/select2.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet">
<link href="../resources/css/modern-business.css" rel="stylesheet">
<link href="../resources/css/sb-admin.min.css" rel="stylesheet">
<link href="../resources/css/loading.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">
<link rel="stylesheet" href="../resources/css/jquery-ui-slider-pips.css">
<link rel="stylesheet" href="../resources/css/nouislider.min.css" />
<link href="../resources/css/slick-theme.css" rel="stylesheet">
<link href="../resources/css/slick.css" rel="stylesheet">
<!-- <link href="../resources/css/welcome_user.css" rel="stylesheet"> -->
<link href="../resources/css/register.css" rel="stylesheet">

<link href="../resources/css/fonts/fontawesome-all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Graduate"
	rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Member Account</title>
</head>
<body>
	<div id="loading-background">
		<div id="loader"></div>
	</div>
	<div th:include="thymeleaf/user-layout :: header"></div>
	<div class="content-wrapper">
		<div class="container-fluid">
			<div data-step="2">
						<div class="text-center col-sm-12 my-3">
							<h5 class="login-title">Community Partners</h5>
							<p>Please select the Community Partners that you would like to support: (Minimum of 1; Maximum of 10)</p>
								<div class="row flex-row">
										<div class="col-12 col-sm-4 col-md-4 col-lg-4 my-2">
											<!-- <button id="sportSelect"
												class="sportButton btn btn-primary btn-lg">Sport</button> -->
											<div id="sportSelect" class="card select-button text-center card-color text-white" style="height: 100%">
												<div class="card-block" style="margin:auto">
													<h4 class="card-title">Sport Community Partners</h4>
													<span class="card-text">Sport Associations: Hockey, Soccer, Ringette, etc...</span>
												</div>
											</div>
										</div>
										<div class="col-12 col-sm-4 col-md-4 col-lg-4 my-2">
											<!-- <button id="charitySelect"
												class="charityButton btn btn-primary btn-lg">Charity</button> -->
											<div id="charitySelect" class="card select-button text-center card-color text-white" style="height: 100%">
												<div class="card-block" style="margin:auto">
													<h4 class="card-title">Charity Community Partners</h4>
													<p class="card-text">Charity Partners: Churches, Arts & Culture Charities, Health Charities, etc...</p>
												</div>
											</div>
										</div>
										<div class="col-12 col-sm-4 col-md-4 col-lg-4 my-2">
											<!-- <button id="profitSelect"
												class="nonProfButton btn btn-primary btn-lg">Non-Profit</button> -->
											<div id="profitSelect" class="card select-button text-center card-color text-white" style="height: 100%">
												<div class="card-block" style="margin:auto">
													<h4 class="card-title">Non-Profit Community Partners</h4>
													<p class="card-text">Non-Profit Partners: Schools, Service Clubs, Professional and Trade Organizations, Social Advocacy Organizations, etc...</p>
												</div>
											</div>
										</div>
									</div>
									<div class="row" id="personal_option">
										<div class="col-12 col-sm-4 col-md-4 col-lg-4 my-2 col-centered">
											<div id="personalOption" class="card select-button text-center card-color text-white" style="height: 100%">
												<div class="card-block" style="margin:auto">
													<h4 class="card-title">Person Selection</h4>
													<p class="card-text">A percentage of the money will be returned to you.</p>
												</div>
											</div>
										</div>
									</div>
								<div id="slider-info" class="alert alert-info text-left" style="display: none"><strong>Info:</strong> Once two or more <strong>Community Partners</strong> have been selected, you will have the ability to change how much you wish to contribute to each out of 100%.
								Each color in the bar below will be associated with one of the <strong>Community Partners</strong> you have selected. <strong>Moving the sliders</strong> will change how much each <strong>Community Partners</strong> will receive. 
								(Percentage can be seen below the names of the selected <strong>Community Partners</strong>).
								</div>
							<div class="alert alert-danger" id="association_select_alert"
								style="display: none;">Please select at least one Community Partners to contribute to</div>
							<div class="alert alert-danger" id="percent_error" style="display: none;">All Donation amounts must equal 100%</div>
						</div>
						<div class="row mb-5" style="height: 10%">
							<div class="col-sm-12">
								<div class="slider" id="slider"></div>
							</div>
						</div>
						<!-- style="height: 30%" -->
						<div id="items-row" class="row flex-row">
							<div id="myBtn" class="my-2 association_selected col-lg-2 col-md-4 col-sm-5 col-12">
							</div>
						</div>
						<div id="sportModal" class="modal">
							<!-- Modal content -->
							<div class="modal-content">
								<div class="modal-header">
									<span class="close">&times;</span>
									<!-- <h2>Sport</h2> -->
								</div>
								<div class="modal-body">
									<div id="association_sport_row"
										class="row association-test my-3">
										<div class="col-sm-12 col-centered">
											<h5 class="login-title">Sport Community Partners</h5>
											<div class="alert alert-info">
    											<strong>NOTE:</strong> Please select each <strong>required*</strong> option to help refine the search for your chosen Sport Association.
  											</div>
											<hr>
										</div>
										<div class="col-lg-12">
										<div class="row col-centered col-centered">
											<div class="col-sm-12">
												<div id="sport-alert" class="alert alert-danger">
												  You have already selected this Sport Association, please choose another.
												</div>
											</div>
										</div>
										</div>
										<div class="col-lg-12">
											<div class="row my-3">
											<div class="col-lg-8 col-centered">
												<label class="text-center" for="sport_query">
		  											Enter Community, Division, Sport, Team name or Player name to find the Sport Association you want.
		  											<select id="sport_query" name="query_sport" class="js-data-example-ajax" style="width: 100%"></select>
												</label>
											</div>
										</div>
										</div>
										<div class="col-lg-12 row col-centered">
											<div class="col-lg-12 my-3">
											<p class="text-center">Or</p>
											<hr>
											<p class="text-center">Use the refine search to find the Sport Community</p>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="row col-centered my-3">
												<div class="col-sm-4">
													<h6>Province*</h6>
													<select id="province_select"
														class="form-control province input-sm"
														name="province_select">
														<option value>Select</option>
													</select>
												</div>
												<div class="col-sm-5">
													<h6>Community*</h6>
													<select id="community_select"
														class="form-control community" name="community_select">
														<option value>Select</option>
													</select>
												</div>
												<div class="col-sm-3">
													<h6>Sport*</h6>
													<select id="sport_items" class="form-control sport"
														name="sport_select">
														<option value>Select</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="row my-3">
												<div class="col-sm-6 col-centered">
													<h6>Association*</h6>
													<select id="association_select"
														class="form-control association_select"
														name="association_select">
														<option value>Select</option>
													</select>
												</div>
											</div>
											<div id="team_radio" class="alert alert-warning" role="alert">
											  <strong>NOTE:</strong> Selected Association has teams. Do you want to select a team to support?
											  <label class="radio-inline mx-2">
											  	<input type="radio" name="teamRadio" value="true">Yes
											  </label>
											  <label class="radio-inline mx-2">
											  	<input type="radio" name="teamRadio" value="false" checked="">No
											  </label> 	
											</div>
										</div>
										<div id="team_selection" class="col-sm-12">
											<div class="row col-centered my-3">
												<div class="col-sm-4">
													<h6>Division</h6>
													<select id="division_select" class="form-control division"
														name="division_select">
														<option value>Select</option>
													</select>
												</div>
												<div class="col-sm-2">
													<h6>Gender</h6>
													<select id="gender_select" class="form-control gender"
														name="gender_select">
														<option value>Select</option>
													</select>
												</div>
												<div class="col-sm-6">
													<h6>Team</h6>
													<select id="team_id" class="form-control team"
														name="team_id">
														<option value>Select</option>
													</select>
												</div>
											</div>
											<div id="player_radio" class="alert alert-warning" role="alert">
											  <strong>NOTE:</strong> Selected Team has Players. Do you want to select a player to support?
											  <label class="radio-inline mx-2">
											  	<input type="radio" name="playerRadio" value="true">Yes
											  </label>
											  <label class="radio-inline mx-2">
											  	<input type="radio" name="playerRadio" value="false" checked="">No
											  </label> 	
											</div>
										</div>
										<div id="player_selection" class="col-sm-12 col-centered my-3">
											<div class="row">
												<div class="col-sm-5 col-centered">
													<h6>Player</h6>
													<select id="player_id" class="form-control player"
														name="player_id">
														<option value>Select</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="row">
												<div id="selectSportButton" class="col-sm-3 col-centered">
													<button id="sportSelectButton"
														class="btn btn-success select-button btn-lg sport_select_button">Select</button>
												</div>
												<div id="updateSportButton" class="col-sm-3 col-centered"
													style="display: none;">
													<button id="sportUpdateButton"
														class="btn btn-success select-button btn-lg update_button">Updated</button>
												</div>
												<div class="col-sm-3 col-centered">
													<button class="btn btn-danger select-button btn-lg cancel_button">Cancel</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="charitiyModal" class="modal">
							<div class="modal-content">
								<div class="modal-header">
									<span class="close">&times;</span>
									<!-- <h2>Charity</h2> -->
								</div>
								<div class="modal-body">
									<div id="association_charity_row"
										class="row association-test my-3">
										<div class="col-sm-12 col-centered">
											<h5 class="login-title">Charity Community Partners</h5>
											<hr>
											<div class="alert alert-info">
    											<strong>NOTE:</strong> Please select each <strong>required*</strong> option to help refine the search for your chosen Charity.
  											</div>
										</div>
										<div class="col-sm-12">
											<div class="row col-centered my-3">
											<div class="col-sm-12">
												<div id="charity-alert" class="alert alert-danger">
												  You have already chosen this Charity Association, please choose another.
												</div>
											</div>
											<div class="col-lg-12">
											<div class="row my-3">
											<div class="col-lg-8 col-centered">
												<label class="text-center" for="sport_query">
		  											Enter Community or name to find the Charity Association you want.
		  											<select id="charity_query" name="query_charity" class="js-data-example-ajax" style="width: 100%"></select>
												</label>
											</div>
										</div>
										</div>
										<div class="col-lg-12 row col-centered">
											<div class="col-lg-12 my-3">
											<p class="text-center">Or</p>
											<hr>
											<p class="text-center">Use the refine search to find the Charity Community</p>
											</div>
										</div>
												<div class="col-sm-12">
													<h6>Province*</h6>
													<select id="province_c_select"
														class="form-control province_char" name="province_select">
														<option value>Select</option>
													</select>
												</div>
												<div class="col-sm-12">
													<h6>Community*</h6>
													<select id="community_c_select"
														class="form-control community_char"
														name="community_select">
														<option value>Select</option>
													</select>
												</div>
												<div class="col-sm-12">
													<h6>Charity*</h6>
													<select id="name_c_select" class="form-control name_select"
														name="name_select">
														<option value>Select</option>
													</select>
												</div>
											</div>
										</div>
										<!-- <div class="col-lg-12 my-2">
											<div class="card">
											  <div class="card-body">
											    <h4 class="card-title">Charity Receipt</h4>
											    <p class="card-text">Would you like the selected Charity to send you a receipt of your donations?</p>
											    	<div class="alert alert-warning">
													  <strong>NOTE:</strong> Checking this option will require us to send your contact information to the selected Charity. If you do not want your contact information to be sent to the selected Charity, please leave this unchecked.
													</div>
											    	<div class="form-check">
												    <label class="form-check-label">
												      <input id="receipt_selection" name="receipt" type="checkbox" class="form-check-input">
												      <strong>Yes</strong>, I would like to receive donation receipts from the selected Charity.
												    </label>
												  </div>
											  </div>
											</div>
										</div> -->
										<div class="col-sm-12">
											<div class="row">
												<div id="selectCharityButton" class="col-sm-3 col-centered">
													<button id="charitySelectButton"
														class="btn btn-success btn-lg charity_select_button">Select</button>
												</div>
												<div id="updateCharityButton" class="col-sm-3 col-centered"
													style="display: none;">
													<button id="chairtyUpdateButton"
														class="btn btn-success select-button btn-lg update_button">Updated</button>
												</div>
												<div class="col-sm-3 col-centered">
													<button class="btn btn-danger select-button btn-lg cancel_button">Cancel</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="nonProfModal" class="modal">
							<div class="modal-content">
								<div class="modal-header">
									<span class="close">&times;</span>
									<!-- <h2>Non-Profit</h2> -->
								</div>
								<div class="modal-body">
									<div id="association_nonProf_row"
										class="row association-test my-3">
										<div class="col-sm-12 col-centered">
											<h5 class="login-title">Non-Profit Community Partners</h5>
											<hr>
											<div class="alert alert-info">
    											<strong>NOTE:</strong> Please select each <strong>required*</strong> option to help refine the search for your chosen Non-Profit.
  											</div>
										</div>
										<div class="col-sm-12">
											<div class="row col-centered my-3">
											<div class="col-sm-12">
												<div id="nonprof-alert" class="alert alert-danger">
												  You have already chosen this Non-Profit Community, please choose another.
												</div>
											</div>
											<div class="col-lg-12">
											<div class="row my-3">
											<div class="col-lg-8 col-centered">
												<label class="text-center" for="sport_query">
		  											Enter Community or name to find the Non-Profit Community you want.
		  											<select id="nonProf_query" name="queriy_nonProf" class="js-data-example-ajax" style="width: 100%"></select>
												</label>
											</div>
										</div>
										</div>
										<div class="col-lg-12 row col-centered">
											<div class="col-lg-12 my-3">
											<p class="text-center">Or</p>
											<hr>
											<p class="text-center">Use the refine search to find the Non-Profit Community</p>
											</div>
										</div>
												<div class="col-sm-12">
													<h6>Province*</h6>
													<select id="province_nonp_select"
														class="form-control province_nonProf"
														name="province_nonp_select">
														<option value>Select</option>
													</select>
												</div>
												<div class="col-sm-12">
													<h6>Community*</h6>
													<select id="community_nonp_select"
														class="form-control community_nonProf"
														name="community_select">
														<option value>Select</option>
													</select>
												</div>
												<div class="col-sm-12">
													<h6>Non Profit*</h6>
													<select id="name_nonp_select"
														class="form-control name_select_nonProf"
														name="name_select">
														<option value>Select</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="row">
												<div id="selectNonProfButton" class="col-sm-3 col-centered">
													<button id="nonProfSelectButton"
														class="btn btn-success select-button btn-lg nonProf_select_button">Select</button>
												</div>
												<div id="updateNonProfButton" class="col-sm-3 col-centered"
													style="display: none;">
													<button id="nonProfUpdateButton"
														class="btn btn-success select-button btn-lg update_button">Updated</button>
												</div>
												<div class="col-sm-3 col-centered">
													<button class="btn btn-danger select-button btn-lg cancel_button">Cancel</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="warningModal" class="modal">
							<div class="modal-content">
								<div class="modal-header">
									<span class="close">&times;</span>
									<!-- <h2>Non-Profit</h2> -->
								</div>
								<div class="modal-body">
									<div id="association_nonProf_row"
										class="row association-test my-3">
										<div class="col-sm-12 col-centered">
											<h5 class="login-title">Are You Sure?</h5>
											<hr>
											<div class="alert alert-warning">
    											<strong>NOTE:</strong> These changes will apply to your account within <strong>24 hours</strong> are you sure you want to apply these changes?
  											</div>
										</div>
										<div class="col-sm-12">
											<div class="row">
												<div id="selectNonProfButton" class="col-sm-3 col-centered">
													<button id="confirm_button"
														class="btn btn-success select-button btn-lg nonProf_select_button">Yes</button>
												</div>
												<div class="col-sm-3 col-centered">
													<button class="btn btn-danger select-button btn-lg cancel_button">No</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<form id="community_form" th:object="${profile}" method="post">
							<div th:each="userAssociation, status : ${profile.userAssociation}" th:id="'association_list_'+${status.index}" class="association_list" th:attr="data-index=${status.index}, data-id=${userAssociation.user_association_id}">
								<input
									th:field="*{userAssociation[__${status.index}__].user_association_id}"
									th:id="'user_association_id_'+${status.index}"
									class="form-control input-sm"
									name="user_association_id" type="hidden"/>
								<input
									th:field="*{userAssociation[__${status.index}__].donation_amount}"
									th:id="'donation_dysplay_'+${status.index}"
									class="form-control input-sm percent-input"
									name="donation_select" type="hidden"/>
								<input
									th:field="*{userAssociation[__${status.index}__].association_id}"
									name="association_id" th:id="'association_id_'+${status.index}"
									class="form-control" data-type="association"
									data-selection="id" type="hidden"/>
									
								<input
									th:field="*{userAssociation[__${status.index}__].team_id}"
									name="team_id" th:id="'team_id_'+${status.index}"
									class="form-control" data-type="association"
									data-selection="id" type="hidden"/>

								<input
									th:field="*{userAssociation[__${status.index}__].player_id}"
									name="player_id" th:id="'player_id_'+${status.index}"
									class="form-control" data-type="association"
									data-selection="id" type="hidden"/>

								<input
									th:field="*{userAssociation[__${status.index}__].charity_id}"
									name="charity_id" th:id="'charity_id_'+${status.index}"
									class="form-control" data-type="association"
									data-selection="id" type="hidden"/>

								<input
									th:field="*{userAssociation[__${status.index}__].nonprof_id}"
									name="nonprof_id" th:id="'nonprof_id_'+${status.index}"
									class="form-control" data-type="association"
									data-selection="id" type="hidden"/>
									
									<input
									th:field="*{userAssociation[__${status.index}__].personal}"
									name="personal" th:id="'personal_'+${status.index}"
									class="form-control" data-type="association"
									data-selection="id" type="hidden"/>
									
									<input
									th:field="*{userAssociation[__${status.index}__].active}"
									name="active" th:id="'active_'+${status.index}"
									class="form-control" data-type="association"
									data-selection="id" type="hidden"/>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<a th:href="@{./account}" class="btn btn-danger float-right">Cancel</a>
									<input id="change_button" type="submit" class="btn btn-primary float-right" value="Update"/>
								</div>
							</div>
						</form>
					</div>
			</div>
		</div>
</body>
<script src="../resources/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
<script src="../resources/vendor/popper/popper.min.js"></script>
<script src="../resources/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../resources/js/jquery.steps.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="../resources/js/jquery-ui-slider-pips.js"></script>
<script src="../resources/js/wNumb.js"></script>
<script src="../resources/js/nouislider.min.js"></script>
<!-- <script src="../resources/js/jquery.linkedsliders.min.js"></script> -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script src="../resources/js/dobPicker.min.js"></script>
<script src="../resources/js/select2.min.js"></script>
<script src="../resources/js/jquery.mask.js"></script>
<script src="../resources/js/jquery.validate.min.js"></script>
<script src="../resources/js/jquery.cascadingdropdown.min.js"></script>
<!-- <script src="../resources/js/sb-admin.js"></script> -->
<script src="../resources/js/change_community.js"></script>
</html>